
html, body {
  height: 100%;
  width: 100%;
}

.full-bg {
  height: 100%;
  width: 100%;
  background-image: url('/static/img/leftloveedit.jpg');
  background-size: cover;
  min-height: 100%;
  color: white;
}
.space {
  width: 70%;
  float:right;
}
.top {
  text-align: right;
  background-color: transparent;
}
.jumbotron .middle {
  padding: 2em;
}
.navbar {
  margin-bottom: 0;
}
.index-ctr {
  padding-left: 0;
  padding-right: 0;
}
.col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
.searchy {
  margin-top: 2em;
}
.searchy label a {
  color:white;
  font-size, 2em;
}
.searchy h5 {
  margin-top: 0;
}
.searchy .btn-lg {
  margin-top: 1em;
}
.right {
  text-align:right;
  border-top: 1px solid #596a7b;
}
.left {
  text-align: left;
  border-top: 1px solid #596a7b;
}
