
html, body {
  height: 100%;
}

.full-bg {
  background-image: url('/static/img/leftloveedit.jpg');
  min-height: 100%;
  background-size:cover;
  color: white;
}

.space {
  width: 60%;
  float:right;
}
.mini {
  text-align: center;
  padding: 3em;
}
.top {
  text-align: right;
  background-color: transparent;
}
.middle {
  padding: 2em;
  background-color: transparent;
}
.navbar {
  margin-bottom: 0;
}
.index-ctr {
  padding-left: 0;
  padding-right: 0;
}
.col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
.searchy {
  margin-top: 2em;
}
.searchy label a {
  color:white;
  font-size, 2em;
}
.searchy h5 {
  margin-top: 0;
}
.searchy .btn-lg {
  margin-top: 1em;
}
.right {
  text-align:right;
  border-top: 1px solid #596a7b;
}
.left {
  text-align: left;
  border-top: 1px solid #596a7b;
}
.footer {
  background-color: #ebebeb;
}
.footer p {
  margin-bottom: 0;
  font-size: .75em;
  padding: 2em;
  color: black;
}
