{% extends 'base.html' %}


{% block content %}


<div class="container">
  <div class="wrapper">
  <div class="col-g-12">
    <h1>About</h1>
    <div class="right">
      <h3>Health<em>Philly</em></h3>
      <p>
        The need for a single source of all the available resources for sexual health
        and family planning became clear to us through data provided by Open Data Philly.
        This was important information for everyone in the Philly area to know, and yet
        we realized that knowing all of your options may take a couple google searches.
        We know people are short on time, but that shouldn't result in risky
        decisions. We created Health<em>Philly</em> at Philly Codefest 2016 to help
        ensure that Philadelphians make informed decisions and take control of
        their reproductive health and overall well-being. Educated decisions will
        lead to happy people, happy families, and happy communities. We hope that
        we can make a difference with this web app!
    </p>
    </div>
    <div class="left">
      <h3>#TeamSwat</h3>
      <p>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Good luck to the team from <a href="https://twitter.com/swarthmore">@swarthmore</a> <a href="https://twitter.com/PhillyCodefest">@PhillyCodefest</a> <a href="https://twitter.com/aweber">@aweber</a> <a href="https://t.co/90sagxqWz0">pic.twitter.com/90sagxqWz0</a></p>&mdash; Amanda Elefante (@NextCareerMove) <a href="https://twitter.com/NextCareerMove/status/701089098598060037">February 20, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        Team Swarthmore (Steve, David, Andrew, Anna, and Sungwon) hails from Swarthmore College
        and represents five academic departments (Computer Science, Mathematics,
        Biology, History, Japanese). Philly Codefest was the team's first (and best)
        hackathon.
      </p>
    </div>
  </div>
  </div>
</div>


{% endblock %}
