{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="wrapper">
    <h1>Credits</h1>
    <ul>
      <li>Front page: <a href="https://www.flickr.com/photos/mirsasha/2700175930/in/photolist-57B7eq-9G6wEK-cPbChY-4SvSgG-7LeNFg-cPbD7h-7L6wab-7L6wkQ-7L6z7m-7L6yv5-7L6yUh-7L6xXC-7L6C6Q-7L6Ckb-7L6CJ5-7L6xrQ-7L2AdX-7L6viS-7L2AkV-7L6wYs-7L6yZQ-7L6vMu-7L2x44-7L6xcG-7L2EcV-7L2zhH-7L2xuP-7L6z6G-9uaU2t-7L2PKk-5Qh9uB-cPbC9s-9wwE2v-mrnrk-4nFCde-9sCPmk-9sFP8b-9sFPjf-9sCPiH-9sCP6n-9sCPhp-9sCPog-9sFPbJ-9sCP5k-9sCP4x-9sFP6Q-9sFP1o-9sCPn4-9sFNZy-9sFPdm">All You Need Is</a> by mirsasha is liscenced by under CC BY 2.0, modified for public domain</li>
      <li>Front page vector icons: <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
      <li>6 vector icons</li>
      <li>OpenDataPhilly</li>
    </ul>
  </div>
</div>
{% endblock %}
