
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- remember to include favicon -->
  <title>Health Philly</title>
  <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

  <div class="container">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Find family planning and care services near you</h1>
        <p>Health Philly's aim is to bring you accurate and useful information
          about family planning and child care services in and around the City
          of Brotherly Love.</p>
        <button class="btn btn-lg">Get started</button>
      </div>
    </div>
  </div>
  <script src="../scripts/script.js"></script>
</body>
</html>
