
{% extends 'base.html' %}


{% block content %}
  <div class="container-fluid full-bg">
    <div class="col-lg-12 full">
      <div class="jumbotron top">
        <div class="space"> </div>
        <div class="space">
          <h1>All Your Resources, All in One Place</h1>
          <p>Health<em>Philly</em>'s aim is to bring you accurate and useful information
          about family planning resources, maternity health centers, crisis centers,
          and child care services in and around the City of Brotherly Love.</p>
          <p><a href="/search" class="btn btn-primary btn-lg">Get Started</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="middle">
      <h2>We help Philadelphians find the care they need. <strong style="color:#e5e5e5">Conveniently.</strong></h2>
      <hr />
      <br>

        <div class="col-lg-2 mini">
          <img src="static/img/mother.png" alt="image of mother with child">
          <p></p>
          <p>Maternal Care</p>
        </div>
        <div class="col-lg-2 mini">
          <img src="static/img/child-and-parent.png" alt="image of child dragging parent">
          <p></p>
          <p>Child Care</p>
        </div>
        <div class="col-lg-2 mini">
          <img src="/static/img/heart-hands.png" alt="image of heart held in hands">
          <p></p>
          <p>Crisis Care</p>
        </div>

      <div class="col-lg-2 mini">
        <img src="static/img/clipboard.png" alt="image of clipboard">
        <p></p>
        <p>HIV testing</p>
      </div>
      <div class="col-lg-2 mini">
        <img src="static/img/pills.png" alt="image of birth control pills">
        <p></p>
        <p>Contraceptive</p>
      </div>
      <div class="col-lg-2 mini">
        <img src="static/img/plus.png" alt="plus sign image">
        <p></p>
        <p>And more.</p>
      </div>

      <h3>
        Try out our searchable database, sorted into categories for your
        convenience and recommended according to your location.
        <p></p>
        <p></p>
        <p><a href="/search" class="btn btn-primary btn-lg" style="margin-top: 1em">Search Now.</a></p>
      </h3>
    </div>
  </div>

    <div class="footer col-lg-12">
      <center>
        <p>Created in Django 1.9 with data from OpenDataPhilly for Philly Codefest 2016 by Team Swat.</p>
      </center>
    </div>

  </div>
{% endblock %}
