
{% extends 'base.html' %}


{% block content %}
  <div class="container-fluid full-bg">
    <div class="col-lg-12 full">
      <div class="jumbotron top">
        <div class="space"> </div>
        <div class="space">
          <h1>All Your Resources, All in One Place</h1>
          <p>Health<em>Philly</em>'s aim is to bring you accurate and useful information
          about family planning resources, maternity health centers, crisis centers,
          and child care services in and around the City of Brotherly Love.</p>
          <p><a href="/search" class="btn btn-primary btn-lg">Get Started</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="jumbotron middle"
      <p>We help Philadelphians find the care they need. Conveniently.</p>
    </div>
  </div>
{% endblock %}
