<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Health<em>Philly.</em></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/search">Search for Services</a></li>
        <li><a href="/about">About Us</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://devpost.com/software/sexual-health-philly">Created for Philly Codefest</a></li>
        <li><a href="/credit">Credits</a></li>
        <li><a href="#" class="font-toggle dys">Dylexia Friendly Font</a></li>
      </ul>

    </div>
  </div>
</nav>
