
{% extends 'base.html' %}
{% load leaflet_tags %}

{% block content %}

<div class="container searchy">

  <div class="col-md-6">
    <form>
      <h1>Search by Categories</h1>
      <p>Select all desired categories and hit submit to search.</p>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" id="condom">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5>Condom Distributors</h5>
                  </a>
                </input>
              </label>
            </div>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            Street location and hours of stores and organizations that distribute PDPH Freedom Condom-branded condoms.
          </div>
        </div>
      </div>


      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                      <h5>Healthy Start Centers</h5>
                    </a>
                  </input>
                </label>
              </div>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>
                Healthy Start centers are part of a national program to reduce perinatal
                issues. Support for the entire childbirth processis available to
                women, as well as resources for men.
                Services:
              </p>
              <ul>
                <li>Guidance on the return to school or the work force</li>
                <li>Connections to affordable health care</li>
                <li>Childbirth, pregnancy, breastfeeding, and parenting education</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                        <h5>HIV Testing & Care</h5>
                      </a>
                    </input>
                  </label>
                </div>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>
                  Street location, contact information and hours of PDPH-funded HIV Treatment Centers.
                  The Ryan White Part A Planning Council (RWPC) prioritizes services and
                  allocates Ryan White Part A funding to improve care for people
                  living with HIV/AIDS in Philadelphia, Southern New Jersey and
                  the PA Suburbs.
                </p>
              </div>
            </div>
          </div>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                          <h5>General Health Clinics</h5>
                        </a>
                      </input>
                    </label>
                  </div>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>
                    Locations of accessible (and unspecialized) health clinics for
                    general healthcare needs.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                            <h5>Planned Parenthood</h5>
                          </a>
                        </input>
                      </label>
                    </div>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                    <p>Planned Parenthood offers several family planning services including:</p>
                    <ul>
                      <li>Emergency contraceptive</li>
                      <li>Birth control options</li>
                      <li>Abortion services</li>
                      <li>STI education and prevention</li>
                      <li>HIV testing</li>
                      <li>Prenatal counseling and care</li>
                      <li>Gynecological services</li>
                      <li>Pregnancy counseling and advising</li>
                      <li>Sliding scale payment options</li>
                    </ul>
                  </div>
                </div>

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                              <h5>Rape Crisis & Domenstic Violence Resource Centers</h5>
                            </a>
                          </input>
                        </label>
                      </div>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                      <p>
                        Resources for victims of sexual and domestic assault.
                        If you or someone you know has been abused, please direct them to
                        these resources. Offer counseling for rape/sexual assault and
                        domestic violence victims/survivors
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      <!-- <button type="submit" class="btn btn-lg btn-default">Submit</button> -->

    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
  <div class="col-md-6">

    	<h1>Services in Your Area:</h1>
	<script type="text/javascript">
        function main_map_init (map, options) {
            // leaflet api here
            map.setView([39.954683, -75.14735], 13);
            //L.marker([50.5, 30.5]).addTo(map);
            {% for loc in locations %}
            <h1>{{loc.hours}}</h1>
            L.marker([{{loc.latitude}}, {{loc.longitude}}], {riseOnHover: true}).addTo(map)
                .bindPopup("<b>{{loc.site_name}}</b><br>{{loc.hours}}")
                .openPopup();
            {% endfor %}

            L.tileLayer('https://api.tiles.mapbox.com/v4/sjaoudi1.p76g9jgk/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic2phb3VkaTEiLCJhIjoiY2lrdmhnY2J0MDBnN3VnbTNweWh4aDJnZyJ9.wPHcHOABvXHGEM2CsQvZgQ', {
               attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
               maxZoom: 18,
               minZoom: 11,
               id: 'sjaoudi1.p76g9jgk',
               accessToken: 'pk.eyJ1Ijoic2phb3VkaTEiLCJhIjoiY2lrdmhnY2J0MDBnN3VnbTNweWh4aDJnZyJ9.wPHcHOABvXHGEM2CsQvZgQ'
            }).addTo(map);
        }
    	</script>

    	<div id="map"></div>
	    {% leaflet_map "main" callback="main_map_init" %}

    	<div class="result">
    		<h3>Listings:</h3>
    		<table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Map Location:</th>
          <th>Name:</th>
          <th>Address:</th>
          <th>Category:</th>
        </tr>
      </thead>
      <tbody>

    		<!-- for loop over result -->
        <tr>

          <td> {{ result.pin }}</td>
          <td> <a href="/">{{ result.name }}</a></td>
          <td>{{ result.address }}</td>
          <td>{{ result.category }}</td>
        </tr>

      </tbody>
    </table>

    	</div>

    </div>


  </div>

</div>



{% endblock %}
