<div class="container">
  <div class="col-lg-12">
    <h1>Help Me Find...</h1>
  </div>
  <div class="col-lg-12">
    <label class="radio">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Option
    </label>
    <label class="radio">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Option
    </label>
    <label class="radio">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Option
    </label>
    <label class="radio">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Option
    </label>
    <label class="radio">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Option
    </label>
  </div>
</div>
